*{
    font-family: Arial;
    margin: 0px;

}

.contenedor__cuerpo{
    background-image: url(../img/fondo.png);
    padding-bottom: 200px;
    padding-top: 20px;
}

/**Diseño de index**/

.contenedor__miembros{
    height: 100px;
    width: 400px;
    position: relative;
    margin: auto;
    text-align: left;
    border: 3px solid rgb(0, 0, 0);
    background: #fff;
    font-size: 16px;
    border-radius: 20px;
}

/**Fin Diseño de index**/
.masc{
    display: flex;
    justify-content: center;
}

.contenedor__masc{
    border: 3px solid rgb(0, 0, 0);
    height: 200px;
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    object-fit: cover;
    border-radius: 20px;
}

img{
    height: 190px;
    width: 190px;
    border-radius: 20px;
}

h2{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}


.paputitulo{
    color: rgb(0, 155, 216) !important;
    font-weight: bold;
    text-align: center;
}
.contexto{
    color: rgb(0, 0, 0) !important;
    margin:auto;
    width: 30%;
    border: 1px solid rgb(3, 153, 212);
    text-align: center;
    padding: 3px;
}
.info{
    color: #fff !important;
    text-align: center;
    padding: 3px;
    font-size: 20px;
}


.contenido{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    align-items: center;
    border: 3px solid rgb(0, 0, 0);
    position: relative;
    margin: auto;
    background: #fff;
    margin-top: 20px;
    border-radius: 20px;
}

.contenido__p{
    text-align: center;
    height: 8%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    font-weight: bold;

}

.contenedor__titulo{
   background: #fff;
   width: 50%;
   position: relative;
   margin: auto;
   padding: 2px;
   margin-top: 2%;
   margin-bottom: 2%;
   border-radius: 10px;
   border: 2px solid #444;
}

.animales{
    display: flex;
    align-items: center;
    border: 2px solid #000;
    width: 40%;
    background: #fff;
    position: relative;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
}

.contenido__form{
    border: 2px solid #000;
    background: #fff;
    text-align: left;
    border-radius: 20px;
}

.masc_link{
    padding-left: 4%;
}